.post-process-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 300px;
    width: 60%;

  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    width: 30%;

  }
  
  .body {
    font-size: 0.8rem;
    color: white;
    justify-content: center;
    width: 70%;
  }

.post-process-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

