.custom-table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
    background-color: transparent;
    color: white;
    width: 70%;
    margin-left: 230px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: rgba(0, 0, 0, 0.3); 
    color: white; 
  }
  
  .custom-table td {
    color: white;
  }
  